{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}


{% block main-content %}
    <div class="new-title">
        <ul>
            {% if tip == 0%}
                <li><a class="on1">正在上映</a></li>
                <li><a href="{% url 'new_movie' 1 %}">即将上映</a></li>
            {% else %}
                <li><a href="{% url 'new_movie' 0 %}">正在上映</a></li>
                <li><a class="on1">即将上映</a></li>
            {% endif %}
        </ul>
        <div class="clear"></div>
    </div>

    <div class="main-movies">
        <div class="dy-content">
            <div class="dy-videos">
                <ul class="dy-video-list">
                    {% for row in movies %}
                        <li class="dy-video-item ">
                            <div class="dy-video-meta">
                                <div class="dy-video-meta-bg"></div>
                                <div class="dy-video-meta-dy">
                                    <h4 class="dy-video-title"><a> {{ row.name }} </a></h4>
{#                                    <span class="dy-video-rating">{{ row.d_rate }}</span>#}
                                    <ul class="dy-video-meta-list">
                                        <li class="dy-video-actors">
                                            <span class="dy-video-tip"> 主演: </span>
                                            <a>{{ row.leader }}</a>
                                        </li>
                                        <li class="dy-video-actors">
                                            <span class="dy-video-tip">导演:</span>
                                            <span class="dy-video-meta-filter">{{ row.director }}</span>
                                        </li>
                                        <li class="dy-video-actors">
                                            <span class="dy-video-tip">地区:</span>
                                            <span class="dy-video-meta-filter">{{ row.country }}</span>
                                        </li>
                                        <li class="dy-video-actors">
                                            <span class="dy-video-tip">语言:</span>
                                            <span class="dy-video-meta-filter">{{ row.language }}</span>
                                        </li>
                                        <li class="dy-video-actors">
                                            <span class="dy-video-tip">片长:</span>
                                            <span class="dy-video-meta-filter">
                                                {% if row.long is None %}
                                                    暂无
                                                {% else %}
                                                    {{ row.long }} 分钟
                                                {% endif %}
                                            </span>
                                        </li>
                                        <li class="dy-video-actors">
                                            <span class="dy-video-tip">上映日期:</span>
                                            <span class="dy-video-meta-filter">{{ row.years | safe }}</span>
                                        </li>
                                    </ul>
{#                                    <p class="dy-video-intro">#}
{#                                        <!-- 详情 --->#}
{#                                        <a class="dy-video-intro-more" href="{% url 'detail' row.id%}">点击查看详情</a>#}
{#                                    </p>#}
                                </div>
                                <div class="dy-video-meta-bg"></div>
                            </div>
                            <div class="dy-video-poster">
                                <a class="dy-video-link">
                                    <img class="dy-video-img" src="{{ row.image_link | safe }}">
                                    <span class="dy-video-nocomplete"></span>
                                    <span class="dy-video-date"> {{ row.years | safe | slice:'4'}} 年 </span>
                                    <span class="dy-video-bg"></span>
                                    <span class="s-pay"></span>
                                </a>
                            </div>
                            <div class="dy-video-primary">
                                <h4 class="dy-video-title">
                                    <a> {{ row.name }} </a>
                                </h4>
                                <span class="dy-video-rating">
                                    {{ row.d_rate }}
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

     <!------------------------  分页 ----------------------------->
    <div class="row" align="center" style="margin-right: 0;margin-left: 0;">
        {% if movies.has_other_pages %}
            <ul class="pagination bg-yellow">
                {% if movies.has_previous %}
                    <li><a href="?page={{ movies.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for l in  movies.paginator.page_range %}
                    {% if l <= movies.number|add:5 and l >= movies.number|add:-5 %}
                        {% if movies.number == l %}
                            <li class="active"><span>{{ l }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
{#                <li class="item"><a href="#">#}
{#                    {{ movies.number }}/{{ movies.paginator.num_pages }}</a>#}
{#                </li>#}
                {% if movies.has_next %}
                    <li><a href="?page={{ movies.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
         $('.menu ul').find('li').eq(2).addClass('active');
    </script>
{% endblock %}